::-webkit-scrollbar-track-piece {
	background-color:#3a3a3a !important;
	-webkit-border-radius: 0px !important;
}


::-webkit-scrollbar {
	width: 10px !important;
	height: 10px  !important;
}

::-webkit-scrollbar-thumb
{ 
	height: 50px; background-color: #cc0000 !important; 
	-webkit-border-radius: 6px !important;
	outline: 0px solid #3a3a3a !important;
	outline-offset: -3px !important;
	border: 0px solid #3a3a3a !important;
}

::-webkit-scrollbar-thumb:hover {
	height: 50px !important;
	background-color: #ee0000 !important;
	-webkit-border-radius: 6px !important;
}
